.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

__pycache__/
*.pyc
.venv/
.env
.log
.idea/

app.egg-info/
.mypy_cache/
.coverage
htmlcov/
.cache/

docker-compose.yml
# local backups
backend/app_backup_*.sql
backend/app_backup_*.sql.gz


config/airflow.cfg
